<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adresse</title>
</head>
<body>
    <h1>For any other informations or services, contact us on :</h1>
    <div id="map">
    <p>
        <a href="map:googlemap.com">Clic to see our location</a> 10, place de la Gare
        1003,Lausanne-VD
    </p>
</div>
    <p>
    <a href="mailto:elkemal2000@yahoo.fr">Ecrivez-nous pour une réparation Online!</a>
    </p>

    <div>
        Tél: +41 76 472 69 61
    </div>
     </p>
    
    <p><a href="indexdropdown.html">Go back</a></p>
    
</body>
</html>