<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple iOS app</title>
</head>
<body>
    <h1>Les modèles iOS:</h1>
    <form>
        <fieldset>
        <legend>Quel modèle d'iOS avez-vous :</legend>
        <div>
          <input type="checkbox" id="phone" name="modele" value="telephon">
          <label for="telephon">iPhone 14 Pro, 14 Pro Max et toutes séries des iPhones de cette game</label>
        </div>
        <div>
          <input type="checkbox" id="phone" name="modele" value="telephon">
          <label for="telephon">iPhone 13 mini, 13, 13 Pro, 13 Pro Max et toutes séries des iPhones de cette game</label>
        </div>
          <div>
          <input type="checkbox" id="phone" name="modele" value="telephon">
          <label for="telephon">iPhone 12, 12 mini, 12 Pro, 12 Pro Max et toutes séries des iPhones de cette game</label>
        </div>
          <div>
          <input type="checkbox" id="phone" name="modele" value="telephon">
          <label for="telephon">iPhone 11, 11 Pro, 11 Pro Max et toutes séries des iPhones de cette game.</label>
        </div>
          <div>
          <button type="submit">Envoyer</button>
        </div>
      </fieldset>
      <div>
        <input type="cross" id="exampleUniq" name="Precise Modèle">
        <label for="exampleUniq">Clic to send your model</label><button type="submit">Envoyer</button>
      </div>
    <p><a href="indexdropdown.html">Go back</a></p> 
</body>
</html>