<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missions</title>
</head>
<body>
    <h1>Nos missions consistent à :</h1>
    
    <p>
        -Assurer le service après vente d'appareils cellulaires,
    </p>
    <p>
        -Réparer tout appareil électronique ou cellulaire,
    </p>
    <p> 
        -Vendre les appareils mobiles.
    </p>
<p><a href="indexdropdown.html">Go back</a></p>
</body>
</html>