<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <h1>
        Here you can test our services. Clic on and watch.
    </h1>
    <div id="player">
    <p>
        <iframe width="56.0" height="31.5" src="https://www.youtube-nocookie.com/embed/TicGJQqrq2M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </p>
    <p><a href="indexdropdown.html">Go back</a></p>
</div>
</body>
</html>