{% extends 'base.html' %}



<h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        <label for="title">Note</label>
        <input type="text" name="title" placeholder="Note title"
               class="form-control"
               value="{{ request.form['title'] or note['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Note content"
                  class="form-control">{{ request.form['content'] or note['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>



{% block content %} {% endblock %} 
 